{% load static %}
<div class="footer-panel"> {# navbar navbar-expand-lg navbar-dark bg-dark  #}
    <p>© Copyright Все права защищены.</p>
        <div class="icons">
            <a href=#>
                <img src="{% static "images/icons/twitter-icon.svg" %}" alt="twitter" width="33" height="33" style="background-color: #343a40;" />
            </a>
            <a href=#>
                <img src="{% static "images/icons/LinkedIn-icon.svg" %}" alt="twitter" width="33" height="33" style="background-color: #343a40;" />
                </a>
            <a href=#>
                <img src="{% static "images/icons/google-icon.svg" %}" alt="twitter" width="33" height="33" style="background-color: #343a40;" />
            </a>
            <a href=#>
                <img src="{% static "images/icons/facebook-icon.svg" %}" alt="twitter" width="33" height="33" style="background-color: #343a40;" />
            </a>
        </div>
</div>