<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/book_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/book_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/authors_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}Библиотека{% endblock %}</title>
</head>
<body>
{#--------------------------------------------/header/---------------------------------------------------------------#}
    <header>
        {% include "include/header.html" %}
    </header>

{#---------------------------------------------/main/----------------------------------------------------------------#}
    <main>
        {% block content %}
        {% endblock %}
    </main>

{#--------------------------------------------/footer/---------------------------------------------------------------#}
    <footer>
        {% include "include/footer.html" %}
    </footer>

{#--------------------------------------------/scripts/---------------------------------------------------------------#}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>